.joinButton {
    background-color: #06ad00;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 2rem;
}

.joinButton:hover {
    background-color: #00770c;
}

.backButton {
    background-color: #f44336;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 2rem;
}

.backButton:hover {
    background-color: #d32f2f;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.headText {
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.joinGameContainer {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/mainmenu.png');
    background-size: cover;
}

.Toastify__toast-container {
  z-index: 9999 !important;
  position: absolute;
  top: 40px;
  right: 20px;
}