.profileContainer{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../../images/home_background2.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2rem;
}

.bg {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 2rem;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    color: #2f324f;
    vertical-align: top;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.profilePicture {
    width: 100px;
    height: 100px;
    align-self: flex-start;
}